<%- include('parts/header.ejs') %> <%- include('parts/navbar.ejs') %>
<div class="container">
  <% if (products.length === 0) { %>
  <div class="alert alert-danger">
    <h1>No products yet</h1>
  </div>
  <% }else{ %>
  <form action="/" method="get" class="px-3 my-3">
    <div class="input-group">
      <select name="category" class="form-select">
        <option value="all">All</option>
        <option value="phones">Phones</option>
        <option value="computers">Computers</option>
        <option value="clothes">Clothes</option>
      </select>
      <input type="submit" class="btn btn-outline-secondary" value="Filter" />
    </div>
  </form>
  <%if(validationError.length !== 0){%>
  <div class="row justify-content-center text-center">
    <p class="alert alert-danger col-11"><%=validationError[0].msg%></p>
  </div>
  <%}%>
  <div class="row">
    <% for ( product of products ) { %>
    <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" style="width: 16rem">
        <img
          src="<%= product.image %>"
          class="card-img-top"
          alt="<%= product.name%>"
          style="height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">
            <a href="/product/id/<%= product._id %>"><%= product.name %></a>
            <p>Price : <%=product.price%> $</p>
          </h5>
          <form
            action="/cart"
            method="post"
            class="add-to-cart-form text-center"
          >
            <input type="hidden" name="name" value="<%=product.name%>" />
            <input type="hidden" name="price" value="<%=product.price%>" />
            <input type="hidden" name="_id" value="<%=product._id%>" />
            <input type="hidden" name="redirectTo" value="/" />
            <input type="number" name="amount" class="form-control" /><br />
            <input
              type="submit"
              value="Add to cart"
              class="btn btn-outline-secondary"
            />
          </form>
        </div>
      </div>
    </div>
    <%}%>
  </div>
  <% } %>
</div>
<%-include('parts/footer.ejs') %>
