<%-include('./parts/header.ejs')%> <%-include('./parts/navbar.ejs')%>
<div class="container mt-3">
  <%if(orders.length === 0){%>
  <div class="alert alert-danger">
    <h3>No Product yet</h3>
  </div>
  <%}else{%>
  <table class="table table-dark table-striped text-center">
    <thead>
      <th>no</th>
      <th>Product Name</th>
      <th>Amount</th>
      <th>Cost</th>
      <th>Address</th>
      <th>Status</th>
      <th>Time</th>
      <th>Action</th>
    </thead>
    <% for( let i = 0; i < orders.length; i++ ) {%>
    <tr>
      <td><%=i+1%></td>
      <td><%=orders[i].name%></td>
      <td><%=orders[i].amount%></td>
      <td><%=orders[i].amount * orders[i].price%> $</td>
      <td><%=orders[i].adress%></td>
      <td><%=orders[i].status%></td>
      <td>1 Days</td>
      <form method="post">
        <td>
          <%if(orders[i].status === 'pending'){%>
          <input
            type="submit"
            value="Cancel"
            formaction="#"
            class="btn btn-danger"
          />
          <%}%>
        </td>
      </form>
    </tr>
    <%}%>
    <tfoot class="fw-bold">
      <tr>
        <td colspan="2"></td>
        <%let totalAmount = 0,totalPrice=0; orders.forEach(element => { %>
        <%totalAmount +=element.amount; totalPrice += (element.price *
        element.amount) }) %>
        <td><%=totalAmount%></td>
        <td><%=totalPrice%> $</td>
        <td colspan="3"></td>
        <form method="post">
          <td>
            <input
              type="submit"
              value="Cancel All"
              class="btn btn-danger"
              formaction="#"
            />
          </td>
        </form>
      </tr>
    </tfoot>
  </table>
  <%}%>
</div>
<%-include('./parts/footer.ejs')%>
